<h1>Sections</h1>

<ul>
  <% reordered_sections = @sections.sort_by { |hsh| hsh[:number] } %>
  <% reordered_sections.each do |section| %>
    <li> <a href="/sections/<%= section.id %>"> <%= section.name %> </a></li>
  <% end %>
</ul>

<form action="/sections/new" method="get">
  <button>Create new section</button>
</form>


