<h1><%= @lesson.name%></h1>
<p><%= @lesson.content%></p>
<form action="/lessons/<%=params[:id]%>/edit">
  <button>Update</button>
</form>

<form action="/lessons/<%= @lesson.id %>/delete" method="get">
  <button>Delete</button>
</form>

<form action="/lessons/" method="get">
  <button>Return</button>
</form>

